<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.mapper.StaffMapper" >
  <resultMap id="BaseResultMap" type="com.demo.entity.Staff" >
    <result column="staff_id" property="staffId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
  </resultMap>
  <!--根据id查询员工信息-->
  <select id="getStaffById" resultType="com.demo.entity.Staff">
    <if test="staffId != null">
    select * from staff where staff_id = #{staffId}
    </if>

  </select>


  <!--添加员工信息-->
  <insert id="addStaff" parameterType="com.demo.entity.Staff">
    insert into staff

    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="staffId !=  null">
        staff_id,
      </if>
      <if test="name !=  null">
        name,
      </if>
      <if test="sex !=  null">
        sex,
      </if>
    </trim>

    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="staffId != null">
        #{staffId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


  <!--修改员工信息-->
  <update id="updateStaff" parameterType="com.demo.entity.Staff">
    update staff

    <set>
      <if test="name != null">
        name = #{name,jdbcType = VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType = VARCHAR},
      </if>
    </set>

    where staff_id = #{staffId,jdbcType = INTEGER}

  </update>


  <!--删除员工信息-->
  <delete id="deleteById" parameterType="long">
    delete from staff where staff_id = #{staffId}

  </delete>


  <!--查询所有员工信息-->
  <select id="selectAll" resultType="com.demo.entity.Staff">
    select * from staff

  </select>

</mapper>